.card {
    margin-bottom: 20px;
    height: 100%;
}

#card-content {
    padding-top: 14px;
    #title {
        text-transform: uppercase;
        line-height: 20px;
    }
}

#card-actions {
    padding: 20px;
    gap: 16px;
}

#profile-image {
    background-image: url('https://avatars.githubusercontent.com/u/43255955?v=4');
    background-size: cover;
}

.hoverEffect {
    transition: 0.5s;
}

.hoverEffect:hover {
    background-color: rgb(221, 221, 221);
    transition: 0.5s;
    cursor: pointer;
}